*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* *****header and navigation styles ***s*4**/
/* to bring in line, we have to give display flex because it is tag */
nav{
    display: flex;
    /* to create distance between in line we have to code justify-contain space between and nav belong two instruction like h2 and ul *7**/
    justify-content: space-between;
    /* 8 */
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* to remove dote in list, we have to give list style none in nav title*5* */
nav li{
    list-style: none;
    /* 9 */
    margin-left: 50px;
}
/* to bring same line of (ul) we have to give nav ul disply flex *6* */
nav ul{
    display: flex;
    /* align item centre (portfolio blogs hierme) *10* */
    align-items: center;
}

.text-primary{
 color: #FD6E0A;
}

/* 10 */
.btn-primary{
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
/* banner styles */
/* images of heardy ( flex is used to give centre shape *11*/
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-discription{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
/* header used for back ground color*12* */
/* and here we used background image */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Main section belong max width 1140 if we use max width we have tyo used alignment for centre**13** */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles ( it used for second part About me *14* */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    /* to bring centre about me we have to give text align centre */
   
    /* to create gave we have to give margin bottom */
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* about-info-container **15** used to form in line name, email, date of birth we have to use display : flex */
.about-info-container{
    display: flex;
    /* should be used at last portion of this part, it used to create gave btn name , email..and if we used flex then have to used justify */
    justify-content: space-around;
}
.about .info-title{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* What i do styles */
.what{
    margin-top: 30px;
    text-align: center;
    padding: 130px 150px;
    
}
.what-title{
    /* margin-top: 130px; */
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    /* text-align: center; */
    /* padding: 130px 150px; */
}
.what-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    /* padding: 130px 150px; */
  
}
.skills-container{
    display: flex;
    /* in flex we have to give gav */
    gap: 24px;
}
/* background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px; */
.skill{
    background: #FFFFFF;
   box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
   border-radius: 5px;
   padding: 30px;
}
.skill-title{
    font-weight: 600;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
    color: #757575;

}
/* resume summary**16** */
.resume{
    margin-top: 40px;
}
.resume-content{
    display: flex;
    /* gap will be provided after providing experience */
    gap: 24px;
}
/* resume item er morday amara style krbo */
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}
/* it will give after resume-item because we used horizental line after 1st part */
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 30px;
}
/* contact style */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;

}
.contact .section-title{
    /* text-align: left; */
}
.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;

}
.contact a{
    text-decoration: none;
}